<div class="footer-area">
  <div class="footer">
    <div class="social-icons">
      <a href="https://www.dribbble.com/mixjiang" target="_blank">
        <img src="assets/icons/Dribbble.svg">
      </a>

      <a href="https://www.pinterest.com/mixitaliano/" target="_blank">
        <img src="assets/icons/pinterest.svg">
      </a>

      <a href="https://github.com/mix-jiang" target="_blank">
        <img src="assets/icons/github.svg">
      </a>
    </div>

    <div class="right-comment">
      <p>Copyright © 2018 Mix Jiang.<br>All Right Reserved.</p>
    </div>
  </div>
</div>
