<!--Home Page navbar starts-->
<!-- based on the root directory-->
<div class="navarea">
  <div class="navbar">
    <div class="navbar-mobile">
      <span class="navlogo">
        <a href="/">
          <img class="nav-logo" src="assets/pics/officialsitesvg.svg">
        </a>
        <a href="/"><span class="logo-text">GINGERWORKS</span></a>
      </span>
    </div>

      <span class="types">
        <ul class="options">
          <li><a href="/portfolio">/ portfolio</a></li>
          <li><a href="/blog">/ blog</a></li>
          <li><a href="/about">/ about</a></li>
        </ul>
      </span>

      <div class="bg"></div>

      <div class="menu-btn menuclose">
        <img src="assets/icons/headermenu.png">
      </div>

      <div class="mobile-menu">
        <ul class="options">
          <li><a href="/portfolio">portfolio</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </div>

  </div>
</div>
  <!--Home Page navbar ends-->
