<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/default.css">
  </head>

<body>
  <div class="wrap-container">

    {% include Header.html %}

  <!--description-->
    <div class="des-area">
    
      {{  content  }}
    
    </div>

    {% include footer.html %}

  </div>

  <!-- import vue.js -->
  <script type="../text/javascript" src="js/vue.js"></script>

</body>

</html>