<!DOCTYPE html>
<html>
　　<head>
　　　　 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　 <title>{{ page.title }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="css/default.css">
　　</head>

　　<body>
		<!--navbar starts-->
		<div class="navarea">
			<div class="navbar">
			<div class="navbar-mobile">
				<span class="navlogo">
					<a href="www.gingerworks.me">
					<img class="nav-logo" src="assets/pics/officialsitesvg.svg">
					</a>
					<a href="www.gingerworks.me"><span class="logo-text">GINGERWORKS</span></a>
				</span>
			</div>

				<span class="types">
					<ul class="options">
						<li><a href="#">/ portfolio</a></li>
						<li><a href="#">/ blog</a></li>
						<li><a href="#">/ about</a></li>
					</ul>
				</span>
			</div>
		</div>
		<!--navbar ends-->

		<!--description-->
		<div class="des-area">
		
			{{  content }}
		
		</div>

		<!-- footer starts -->
		<div class="footer-area">
			<div class="social-icons">
				<div class="right-comment">
					<p>Copyright © 2017 Mix Jiang.<br>All Right Reserved.</p>
				</div>
			</div>
		</div>


	<!-- import vue.js -->
	<script type="text/javascript" src="js/vue.js"></script>

　　</body>


</html>