<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/default.css">
  </head>

<body>
  <div class="wrap-container">

    {% include homePageHeader.html %}

    <!--description-->
    <div class="des-area">

    {{  content  }}

    </div>

    <!-- footer starts -->
    <div class="footer-area">
      <div class="footer">
        <div class="social-icons">
          <a href="https://www.dribbble.com/mixjiang" target="_blank">
            <img src="assets/icons/Dribbble.svg">
          </a>

          <a href="https://www.pinterest.com/mixitaliano/" target="_blank">
            <img src="assets/icons/pinterest.svg">
          </a>

          <a href="https://github.com/mix-jiang" target="_blank">
            <img src="assets/icons/github.svg">
          </a>
        </div>

        <div class="right-comment">
          <p>Copyright © 2017 Mix Jiang.<br>All Right Reserved.</p>
        </div>
      </div>
    </div>


  <!-- import vue.js -->
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/vue-index.js"></script>
  <!-- import jQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="js/index-jQuery/index-jQuery.js"></script>

  </div>
</body>

</html>