<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/portfolio.css">
  </head>

<body>
  <div class="wrap-container">

    {% include header.html %}

    <!--description-->
    <div class="des-area">

    {{  content  }}

    </div>

    <!-- footer starts -->

    {% include footer.html %}


  <!-- import vue.js -->
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/vue-index.js"></script>
  <!-- import jQuery -->
  <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="../js/index-jQuery/index-jQuery.js"></script>

  </div>
</body>

</html>
